.layout.vertical-menu {
    $header-height: 56px;
    padding-top: $header-height;

    .el-menu {
        position: fixed;
        z-index: 101;
        top: 0; left: 0;
        height: 100%;
        border-right: unset;
        box-shadow: 1px 0 1px #e6e6e6;
    }
    
    header {
        position: fixed;
        z-index: 100;
        top: 0; right: 0;
        height: $header-height;
        background-color: white;
        box-shadow: 0 1px 1px #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    .logo {
        display: flex;
        align-items: center;
        height: $header-height;
        padding-left: 16px;
        padding-right: 12px;
        background-color: white;
    
        img {
            cursor: pointer;
        }
    }
}

.layout:not(.vertical-menu) {
    $menu-height: 60px;
    padding-top: $menu-height;

    .el-menu {
        position: fixed;
        z-index: 100;
        top: 0; left: 0;
        width: 100%;
        height: $menu-height;
        border-bottom: unset;
        box-shadow: 0 1px 1px #e6e6e6;
    }
    
    .logo {
        display: flex;
        align-items: center;
        height: $menu-height;
        float: left;
        padding-left: 16px;
        padding-right: 12px;
        background-color: white;
    
        img {
            cursor: pointer;
        }
    }

    :deep(.user-brief) {
        float: right;
        margin-right: 16px;

        .user-head {
            height: $menu-height;
        }
    }
}


.app-name {
    margin-left: 8px;
    font-size: 18px;
    color: #2878FF;
    font-weight: bold;
}

.breadcrumb-parent {
    display: flex;
    align-items: center;

    .menu-toggle-btn {
        margin-right: 20px;
        font-size: 24px;
        color: darkgray;
        &:hover {
            color: gray;
        }
    }
}




// /deep/ {
//     // 设置面包屑的颜色
//     .el-breadcrumb__inner {
//         color: #909399;
//     }

//     .el-breadcrumb__item:last-child {
//         .el-breadcrumb__inner {
//             color: #323233;
//         }
//     }

// }